  	 
  	 /*		Login/Registration Modal 		*/
  	 .content {
  	 	background-color: #1f1f1f;
  	 	color: lightgrey;
  	 	height: 100%;
  	 	width: 100%;
  	 }
	   	  
	  .modal {
	      padding-top: 10%;
	      left: 30%;
	      top: 0%;
	      width: 40%;
	      height: 100%;
	      overflow: auto;
	      background-color: rgb(0,0,0);
	      background-color: rgba(0,0,0,0.4);
	  }
	
	  .modal-content {
	      background-color: #fefefe;
	      margin: auto;
	      padding: 20px;
	      border: 1px solid #888;
	      width: 80%;
	      z-index: 20009;
	  }
	  
	  .text-danger {
	  		font-size: .8em;	
	  }
	  
	  .close {
	      color: #aaaaaa;
	      float: right;
	      font-size: 28px;
	      font-weight: bold;
	      z-index: 20010;
	      display: inline-block;
	  }
	
	  .close:hover, .close:focus {
	      color: #000;
	      text-decoration: none;
	      cursor: pointer;
	  }
	  
	  .alert{
	  	z-index: 20000;
	  	width: 400px;
	  }
	  
	  .form {
	   width: 25%;
	   display: inline-block;
	   margin: 5%;
	   background: linear-gradient(#ffffff, #f4f2f2);
	   color: #1f1f1f;
	   padding: 20px;
	   text-align: center;
	   vertical-align: top;
	  }
	  
	  /*		Title Bar		*/
	  .header	{
	      position: relative;
	      z-index: 20000;
	      height: 45px;
	      text-align: center;
	      background: #1f1f1f; 
	      line-height: 45px;
	      width: auto;
	  }
	  
	  .headerlink {
	  	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	      cursor: pointer;
	      color: white;
	      text-decoration: none;
	      margin: 0px 5px;
	  }
	  	  
	  #logo	{
	      color: rgb(0, 225, 255);
	      font-family: 'Amatic SC', cursive;
	      vertical-align: top;
	      font-size: 35px;
	      display: inline;
	  }
	  
	  #logo:hover	{
	  	color: white;
	  }
	  
	  .homebutton	{
	        size: 7px;
	        color: white;
	     	z-index: 20000;
	     	position: absolute;
    		left: 10%;
	  }
	  
	  .homebutton:hover, .headerlink:hover {
	  		color: rgb(0, 225, 255);
	  		text-decoration: none;
	  }
	  
	  .logolink:hover {
	      	text-decoration: none;
	  }
	  .options {
	  		display: inline-block;
	    	position: absolute;
	    	right: 10%;
	  }

	@media screen and (max-width: 700px) {
    	    
    .modal {
    	left: 10%;
    	width: 80%;
    	padding-top: 15%;
    }
    
    .homebutton {
    	display: none;
    }
    
    .header {
    	text-align: left;
    }
    
    #logo {
    	position: absolute;
    	left: 10%;
    }
    
 }
	  
	  /*		Join/Create House Screen		*/
	  #joinHouse, #createHouse{
	  	text-align: center;
	  	margin-top: 10px;
	  }
	  
	  #joinHouse img, #createHouse img {
	  	height: 400px;
	  }
	  
	  hr {
	  	background-color: lightgrey;
	  }