
* {
    box-sizing: border-box;
}

#wrapper{
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.headers{
    position: relative;
    height: 45px;
    text-align: center;
    background: #1f1f1f;
	padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    display: inline-block;
}
  
.headera{
	color: white;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	/* margin-left: 300px; */
	display: inline-block;
}

.headera a{
	color: white;
}


.headerb {
	color: white;
	margin-top: 5px;
	margin-left: 10px;
}

.headera:hover, .headerb:hover	{
	color: rgb(0, 225, 255);
	text-decoration: none;
	cursor: pointer;
}

  
#logo{
    color: rgb(0, 225, 255);
    font-family: 'Amatic SC', cursive;
    vertical-align: top;
    font-size: 35px;
    display: inline;
    /* margin-left: 480px; */ 
    text-decoration: none;
}

#logo:hover	{
	color: white;
}
.logolink:hover {
	text-decoration: none;
}

.homebutton	{
    font-size: 16px;
    color: white;
 }
 
 .homebutton:hover {
 	color: rgb(0, 225, 255);
 }
 
 .logolink:hover {
    text-decoration: none;
 }

.message {
	width: 341px;
	display: inline-block;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse; 
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

tbody, tr, td, th { display: block; }


tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 35px;

    /*text-align: left;*/
}

tbody {
    height: 150px;
    overflow-y: auto;
}

.user table tbody{
	height: 219px;
}

thead  th{
	display: block;
	background: #bdc3c7;  
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
	background: linear-gradient(to top, #2c3e50, #bdc3c7);
    color: #eaeaea;
}
    /* fallback */
.scroll table, .scroll2 table{
	border-radius: 4px;
}

.scroll tbody td, thead th {
    width: 20%;
    float: left;
    background-color: #fafafa;
 
}

.scroll2 tbody td, thead th {
    width: 20%;
    float: left;
    background-color: #fafafa;
}

tr{
 	background-color: #fafafa;
 	width: 100%;	
 }
 
.user {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px;
}

.user table{
	background-color: #fafafa;
	width: 396px;
	height: 219px;
	border-radius: 4px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
  	resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#newChore input[type=submit] {
    background-color: #a9a9a9;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.button{
  	background-color: #a9a9a9;
    color: white;
    padding: 6px 10px;
    border: none;
    text-decoration:none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}


.button:hover{
	background-color: black;
	text-decoration:none;
	color: white;
}

#newChore input[type=submit]:hover {
    background-color: black;
}

p{
	margin-left: 5px;
	color: #1f1f1f;
}

.container {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 30%;
        margin-top: 0;
    }
}

.wrapper a {
	margin-left: 5px;
}

.container-fluid {
	width:400px;
	display:inline-block;
	verticle-align: top;
}

.row-fluid th {
	width: 100%;
	text-align: center;
}

.row-fluid input[type=text] {
	width: 284px;
}

#newChore {
	display: inline-block;
	verticle-align: top; 
}

form {
	display: inline-block;
}

/* Modal Related CSS  */
	  .modal {
	      padding-top: 10%;
	      left: 30%;
	      width: 40%;
	      height: 100%;
	      overflow: auto;
	      background-color: rgb(0,0,0);
	      background-color: rgba(0,0,0,0.4);
	  }
	
	  .modal-content {
	      background-color: #fefefe;
	      margin: auto;
	      padding: 2%;
	      border: 1px solid #888;
	      width: 80%;
	  }
	  
	  .text-danger {
	  		font-size: .8em;	
	  }
	  
	  .close {
	      color: #aaaaaa;
	      float: right;
	      font-size: 28px;
	      font-weight: bold;
	      z-index: 20010;
	      display: inline-block;
	  }
	
	  .close:hover, .close:focus {
	      color: #000;
	      text-decoration: none;
	      cursor: pointer;
	  }
	  .alert{
	  	width: 400px;
	  }
	    