table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse; 
    width: 100%;
    height: 100px;
    overflow: scroll;
    
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #bf841f;
    color: white;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #bf841f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 215px;
}

input[type=submit]:hover {
    background-color: black;
}

.container {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* border-radius: 5px; */ 
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 30%;
        margin-top: 0;
    }
}

.wrapper a {
	margin-left: 5px;
}

/* NEW CSS!!! */
	.modal2 {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 40%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      margin-left: 400px;
  }

  /* Modal Content */
  .modal-content2 {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }

  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 40%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      margin-left: 400px;
  }

  /* Modal Content */
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }

  /* The Close Button */
  .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
  body{
      margin: 0;
      padding: 0;
  }
  .header{
      position: relative;
      z-index: 100;
      height: 45px;
      text-align: center;
      background-image: linear-gradient(to bottom, #070301, #171514, #222020, #2e2c2c, #3a3939);
      background: #444; 
      height: 45px;
      padding-left: 10px;
      padding-top: 10px;
      width: auto;
  }
  a{
      color: black;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 16px;
  }
  .logform{
      height: 400px;
      width: 350px;
      display: inline-block;
      vertical-align: top;
      margin-left: 90px;
  }
  .regform{
      height: 400px;
      width: 350px;
      display: inline-block;
      vertical-align: top;
      margin-left:130px;
  }
  .signintext{
      text-align: center;
  }
  #myBtn2{
      background-color:transparent;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:14px;
      /* padding-left:31px;   */
      text-decoration:none;
      margin-left: 10px;
  }
  #myBtn{
      background-color:transparent;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:14px;
      padding-left:31px;
      text-decoration:none;
      margin-left: 370px;
  }
  #logo{
      color: orangered;
      font-family: 'Pacifico', cursive;
      display: inline;
      /* vertical-align: top; */
      margin-left: 540px;
      font-size: 30px;
      margin-top: 15px;
  }
  .homebutton{
      size: 7px;
      color: white;
  }
  .logolink:hover{
      text-decoration: none;
  }
