
* {
    box-sizing: border-box;
}

#wrapper{
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.headers{
      position: relative;
     /*  z-index: 20000; */
      height: 45px;
      text-align: center;
      background: #444; 
      height: 45px;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
    /*   width: auto; */
}
  
.headera{
	color: rgb(0, 225, 255);
	margin-top: 5px;
	float: right;
}

.headera:hover	{
 	color: white;
 	text-decoration: none;
}
  
#logo{
      color: rgb(0, 225, 255);
      font-family: 'Amatic SC', cursive;
      vertical-align: top;
      font-size: 35px;
      display: inline;
      margin-left: 10px; 
}

.message {
	width: 341px;
	display: inline-block;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse; 
    height: 200px;
    width: 100%;
 /*    overflow: scroll;
    overflow-y: visible;
    overflow-x: hidden; */
    margin-bottom: 15px;
}

tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 35px;

    /*text-align: left;*/
}

tbody {
    height: 150px;
    overflow-y: auto;
}

.user table tbody{
	height: 219px;
}

thead  th{
	display: block;
	background: #bdc3c7;  
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
	background: linear-gradient(to top, #2c3e50, #bdc3c7);
    color: #eaeaea;
}
    /* fallback */


.scroll tbody td, thead th {
    width: 20%;
    float: left;
    background-color: #fafafa;
}

.scroll2 tbody td, thead th {
    width: 20%;
    float: left;
    background-color: #fafafa;
}

tr{
 	background-color: #fafafa;
 	width: 100%;
 }
 
.user {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/* background: #bdc3c7;
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  
	background: linear-gradient(to top, #2c3e50, #bdc3c7); */ 
	padding: 10px;
}

.user table{
	background-color: #fafafa;
	width: 300px;
	height: 219px;
}

input[type=text], select, textarea {
    width: 341px;
    padding: 6px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
  	resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #a9a9a9;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 210px;
}

.button{
  background-color: #a9a9a9;
    color: white;
    padding: 6px 10px;
    border: none;
    text-decoration:none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}


.button:hover{
	background-color: black;
	text-decoration:none;
	color: white;
}

input[type=submit]:hover {
    background-color: black;
}

p{
	margin-left: 5px;
	color: #d5d5d5;
}

.container {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* border-radius: 5px;  
    background: #bdc3c7;  fallback for old browsers
	background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to top, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
	padding: 20px;*/ 
}
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 30%;
        margin-top: 0;
    }
}

.wrapper a {
	margin-left: 5px;
}

.container-fluid {
	width:400px;
	display:inline-block;
	verticle-align: top;
}

form{
	float: right;
	display: inline-block;
	verticle-align: top; 
}
